
<mat-sidenav-container class="sncontainer" >
  <mat-sidenav #sidenav mode="side" [(opened)]="mostratMenu" class="menuLateral">
    <registro-usuario tipo="registro" ></registro-usuario>
    <mat-nav-list  *ngIf="su.estadoSesion=='Conectado'">
       <mat-list-item [routerLink]="['/panelsm']"> Panel SM</mat-list-item>
       <mat-list-item > Panel Odontología</mat-list-item>
       <mat-list-item (click)="terminarSesion()"> Salir</mat-list-item>
    </mat-nav-list >
  </mat-sidenav>

  <mat-sidenav-content class="contenido">
    <mat-toolbar>
      <span>Monitoreo</span>
      <p><button mat-button (click)="sidenav.toggle()">Menú</button></p>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>