
.row{
  padding:0;
}
.modal-header{
  padding:5px 5px 5px 10px;background-color: rgb(238, 238, 238);
  color: black;
}
.modal-title{
  font-size: 12px;
}
.modal-body {
    position: relative;
    padding: 10px;
    height: 100px;
}
.modal-footer{
  background-color: rgb(238, 238, 238);
  padding: 5px 10px;
}

.formaUsuario{
  margin-top: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.45);
}
.input-group-addon{
  width: 150px;
  text-align: right;
}
.input_datos{
  width: 100%;
}
.input-group{
  margin-bottom: 5px;
  width: 100%;
}
.btn_accion{
    width: 75px;
    height: 28px;
    padding: 1px;
    font-size: 10px;}

/****Estilos de login****/
.finSession{
  width: 50px;
  height: 3rem;
  margin-top: 22px;
  overflow:hidden;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.alert-danger{  
    margin: 5px 10px;
}